---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Jacob"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2026-02-18')}
	heroImage="/about page banner.webp"
	heroBackground={true}
	pageTitle="ABOUT"
>
	<p>
		Jacob Gordillo is a designer who graduated from the Herron School of Art and Design in Indianapolis Indiana with a bachelors in Design and Illustration. 



	<p>
		Over the past eight years, as I've gotten more and more politically active, I've realized the importance of furthering democratic ideals. Seeing the opposition trample on not only our ideals, but the foundational ideas of Western liberalism that our country was built on has only served to fuel my passion for political action and our ideals. I've already volunteered twice with the organization Progressive Victory to do canvassing, door knocking, and voter registration, and I am eager to get more experience under my belt. I admire Indiana's Democratic Party, despite progress being an uphill battle in our state, you never stop fighting. I am eager to contribute my skills and ideas to support the goals of our party and to gain more experience as a professional.
	</p>

	<p>
		As a designer, I have honed my skills in visual storytelling, branding, and communication, and I hope that I can use all I've learned to help connect with voters and amplify democratic ideals. In addition, I have experience using design software such as Adobe Photoshop and Illustrator and understand how to tailor designs for specific audiences, including through social media, email, and traditional marketing channels.
	</p>

	<p>
		
</Layout>
t consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
